*{
    margin:0;
    padding: 0;
    overflow-x: hidden;
}
.app{
    height: 100vh;
    background-color: #333;
}
.heading{
    margin-top: 3rem;
    color: #fff;
    text-align: center;
    overflow-y: hidden;
}
.form{
    margin-top: 3rem;
    text-align: center;
}
.text, .button{
    border: none;
    padding: 10px;
    
}
.button{
    background-color: #a9fffe;
    
}
.list{
    background-color: #a9fffe;
    margin: auto;
    height: 400px;
    margin-top: 3rem;
    text-align: center;
}
.items{
    display: flex;
    justify-content: space-between;
    background-color: #a9fffe;
    border: 1px solid #fff;
    
}
.items h4{
    overflow-y: hidden;
    text-align: left;
}
.close{
    float: right;
    border: none;
}
.check{
    width: 20px;
    height: 20px;
    background-color: #333;
}
.data{
    border: none;
    background-color: #a9fffe;
}

